.kit-hstack {
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr;
}
.kit-hstack > .scroll {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	user-select: none;
}

.kit-hstack > .scroll > .scroll-content {
	width: fit-content;
	display: flex;
}

.kit-hstack > .scroll::-webkit-scrollbar {
	display: none;
}

.kit-hstack > .scroll > * {
	scroll-snap-align: start;
}
