.mk-row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin: -0.75;

	&.row-no-gutters {
		margin: 0;

		> .mk-col,
		> [class*='mk-col-'] {
			padding: 0;
		}
	}

	& .row-dense {
		margin: -0.25rem;

		> .mk-col,
		> [class*='mk-col-'] {
			padding: 0.25rem;
		}
	}
}

.mk-row + .mk-row {
	margin-top: 0.75rem;
}

.mk-row + .row-dense {
	margin-top: 0.25rem;
}
