.mk-row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin: -0.75rem;
}

.mk-row.row-no-gutters {
	margin: 0;
}
.mk-row.row-no-gutters > .mk-col,
.mk-row.row-no-gutters > [class*='mk-col-'] {
	padding: 0;
}

.mk-row .row-dense {
	margin: -0.25rem;
}
.mk-row .row-dense > .mk-col,
.mk-row .row-dense > [class*='mk-col-'] {
	padding: 0.25rem;
}

.mk-row + .mk-row {
	margin-top: 0.75rem;
}
.mk-row + .row-dense {
	margin-top: 0.25rem;
}
