.kit-row {
	display: flex;
	flex-wrap: wrap;
	flex: 1 1 auto;
	margin: -0.75rem;
}

.kit-row.row-no-gutters {
	margin: 0;
}
.kit-row.row-no-gutters > .kit-col,
.kit-row.row-no-gutters > [class*='kit-col-'] {
	padding: 0;
}

.kit-row .row-dense {
	margin: -0.25rem;
}
.kit-row .row-dense > .kit-col,
.kit-row .row-dense > [class*='kit-col-'] {
	padding: 0.25rem;
}

.kit-row + .kit-row {
	margin-top: 0.75rem;
}
.kit-row + .row-dense {
	margin-top: 0.25rem;
}
