a.mk-card {
	text-decoration: none;
}

.mk-card {
	--color: var(--on-surface);
	--background-color: var(--surface);
	--overlay: var(--scrim);
	--border-radius: 1rem;

	position: relative;
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	border-color: transparent;
	border-width: 1px;
	border-style: solid;
	text-align: start;
	color: var(--color);
	background-color: var(--background-color);

	&:hover:not(div) {
		background-color: color-mix(in oklab, var(--background-color) 90%, black);
	}

	&:focus:not(div) {
		background-color: color-mix(in oklab, var(--background-color) 95%, black);
	}

	&:active:not(div),
	&.card-active {
		background-color: color-mix(in oklab, var(--background-color) 95%, black);
	}

	&:not(div) {
		cursor: pointer;
	}

	&.card-outline {
		border-color: var(--color);
	}

	&.card-outline,
	&.card-text {
		background-color: transparent;

		&:hover:not(div) {
			background-color: color-mix(in oklab, var(--color) 20%, transparent);
		}

		&:focus:not(div) {
			background-color: color-mix(in oklab, var(--color) 25%, transparent);
		}

		&:active:not(div),
		&.card-active {
			background-color: color-mix(in oklab, var(--color) 25%, transparent);
		}
	}

	&.card-disabled,
	&[disabled],
	&:disabled {
		pointer-events: none;
		user-select: none;
		color: color-mix(in oklab, var(--scrim) 25%, transparent) !important;

		&.card-outline {
			border-color: color-mix(in oklab, var(--scrim) 25%, transparent) !important;
		}

		&:not(.card-text) {
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: color-mix(in oklab, var(--scrim) 8%, transparent) !important;
				z-index: 100;
				border-radius: var(--border-radius);
			}
		}
	}
}
