.mk-container {
	width: 100%;
	padding: 16px;
	margin-right: auto;
	margin-left: auto;
	color: var(--color);
	background-color: var(--background-color);
}

.mk-container.container-fill-height {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.mk-container.container-fluid {
	max-width: 100%;
}

@media screen and (min-width: 960px) {
	.mk-container:not(.container-fluid) {
		max-width: 900px;
	}
}

@media screen and (min-width: 1280px) {
	.mk-container:not(.container-fluid) {
		max-width: 1200px;
	}
}

@media screen and (min-width: 1920px) {
	.mk-container:not(.container-fluid) {
		max-width: 1800px;
	}
}
