.kit-container {
	margin-right: auto;
	margin-left: auto;
	padding-right: 2rem;
	padding-left: 2rem;
	color: var(--color);
	background-color: var(--background-color);
}

.kit-container.container-fill-height {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.kit-container.container-fluid {
	max-width: 100%;
}

@media screen and (min-width: 1024px) {
	.kit-container:not(.container-fluid) {
		max-width: 900px;
	}
}

@media screen and (min-width: 1280px) {
	.kit-container:not(.container-fluid) {
		max-width: 1185px;
	}
}
