.kit-footer {
	--background-color: var(--surface);
	--color: var(--on-surface);

	display: grid;
	width: 100%;
	grid-auto-flow: row;
	place-items: start;
	column-gap: 1rem;
	row-gap: 2.5rem;
	font-size: 0.875rem;
	line-height: 1.25rem;
	background-color: var(--background-color);
	color: var(--color);
}

.kit-footer.footer-center {
	place-items: center;
	text-align: center;
}

/* @manakit-breakpoint */
.kit-footer[breakpoint]footer-column {
	grid-auto-flow: column;
}
.kit-footer[breakpoint]footer-center {
	grid-auto-flow: row dense;
}
/* !@manakit-breakpoint */
