.mk-col {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;

	&.col-auto {
		width: 100%;
		padding: 12px;
	}

	@each $breakpoint, $size in $breakpoints {
		@if $breakpoint != 'default' {
			@media screen and (min-width: $size) {
				&.#{$breakpoint}\:col-auto {
					flex: 0 0 auto;
					width: auto;
					max-width: 100%;
				}

				&.#{$breakpoint}\:col-1 {
					flex: 0 0 8.3333333333%;
					max-width: 8.3333333333%;
				}

				&.#{$breakpoint}\:col-2 {
					flex: 0 0 16.6666666667%;
					max-width: 16.6666666667%;
				}

				&.#{$breakpoint}\:col-3 {
					flex: 0 0 25%;
					max-width: 25%;
				}

				&.#{$breakpoint}\:col-4 {
					flex: 0 0 33.3333333333%;
					max-width: 33.3333333333%;
				}

				&.#{$breakpoint}\:col-5 {
					flex: 0 0 41.6666666667%;
					max-width: 41.6666666667%;
				}

				&.#{$breakpoint}\:col-6 {
					flex: 0 0 50%;
					max-width: 50%;
				}

				&.#{$breakpoint}\:col-7 {
					flex: 0 0 58.3333333333%;
					max-width: 58.3333333333%;
				}

				&.#{$breakpoint}\:col-8 {
					flex: 0 0 66.6666666667%;
					max-width: 66.6666666667%;
				}

				&.#{$breakpoint}\:col-9 {
					flex: 0 0 75%;
					max-width: 75%;
				}

				&.#{$breakpoint}\:col-10 {
					flex: 0 0 83.3333333333%;
					max-width: 83.3333333333%;
				}

				&.#{$breakpoint}\:col-11 {
					flex: 0 0 91.6666666667%;
					max-width: 91.6666666667%;
				}

				&.#{$breakpoint}\:col-12 {
					flex: 0 0 100%;
					max-width: 100%;
				}

				&.#{$breakpoint}\:offset-0 {
					margin-inline-start: 0;
				}
				&.#{$breakpoint}\:offset-1 {
					margin-inline-start: 8.3333333333%;
				}
				&.#{$breakpoint}\:offset-2 {
					margin-inline-start: 16.6666666667%;
				}
				&.#{$breakpoint}\:offset-3 {
					margin-inline-start: 25%;
				}
				&.#{$breakpoint}\:offset-4 {
					margin-inline-start: 33.3333333333%;
				}
				&.#{$breakpoint}\:offset-5 {
					margin-inline-start: 41.6666666667%;
				}
				&.#{$breakpoint}\:offset-6 {
					margin-inline-start: 50%;
				}
				&.#{$breakpoint}\:offset-7 {
					margin-inline-start: 58.3333333333%;
				}
				&.#{$breakpoint}\:offset-8 {
					margin-inline-start: 66.6666666667%;
				}
				&.#{$breakpoint}\:offset-9 {
					margin-inline-start: 75%;
				}
				&.#{$breakpoint}\:offset-10 {
					margin-inline-start: 83.3333333333%;
				}
				&.#{$breakpoint}\:offset-11 {
					margin-inline-start: 91.6666666667%;
				}
			}
		} @else {
			&.col-auto {
				flex: 0 0 auto;
				width: auto;
				max-width: 100%;
			}

			&.col-1 {
				flex: 0 0 8.3333333333%;
				max-width: 8.3333333333%;
			}

			&.col-2 {
				flex: 0 0 16.6666666667%;
				max-width: 16.6666666667%;
			}

			&.col-3 {
				flex: 0 0 25%;
				max-width: 25%;
			}

			&.col-4 {
				flex: 0 0 33.3333333333%;
				max-width: 33.3333333333%;
			}

			&.col-5 {
				flex: 0 0 41.6666666667%;
				max-width: 41.6666666667%;
			}

			&.col-6 {
				flex: 0 0 50%;
				max-width: 50%;
			}

			&.col-7 {
				flex: 0 0 58.3333333333%;
				max-width: 58.3333333333%;
			}

			&.col-8 {
				flex: 0 0 66.6666666667%;
				max-width: 66.6666666667%;
			}

			&.col-9 {
				flex: 0 0 75%;
				max-width: 75%;
			}

			&.col-10 {
				flex: 0 0 83.3333333333%;
				max-width: 83.3333333333%;
			}

			&.col-11 {
				flex: 0 0 91.6666666667%;
				max-width: 91.6666666667%;
			}

			&.col-12 {
				flex: 0 0 100%;
				max-width: 100%;
			}

			&.offset-1 {
				margin-inline-start: 8.3333333333%;
			}

			&.offset-2 {
				margin-inline-start: 16.6666666667%;
			}

			&.offset-3 {
				margin-inline-start: 25%;
			}

			&.offset-4 {
				margin-inline-start: 33.3333333333%;
			}

			&.offset-5 {
				margin-inline-start: 41.6666666667%;
			}

			&.offset-6 {
				margin-inline-start: 50%;
			}

			&.offset-7 {
				margin-inline-start: 58.3333333333%;
			}

			&.offset-8 {
				margin-inline-start: 66.6666666667%;
			}

			&.offset-9 {
				margin-inline-start: 75%;
			}

			&.offset-10 {
				margin-inline-start: 83.3333333333%;
			}

			&.offset-11 {
				margin-inline-start: 91.6666666667%;
			}
		}
	}
}
