.kit-vstack {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: 1fr;
}

.kit-vstack > .scroll {
	overflow: scroll;
	-webkit-overflow-scrolling: touch;
	user-select: none;
}
.kit-vstack > .scroll > .scroll-content {
	height: fit-content;
	display: block;
	width: fit-content;
}

.kit-vstack > .scroll::-webkit-scrollbar {
	display: none;
}
.kit-vstack > .scroll > * {
	scroll-snap-align: start;
}
