.mk-container {
	padding: 1rem;
	margin-right: auto;
	margin-left: auto;

	@each $breakpoint, $size in $breakpoints {
		@if $breakpoint != 'default' {
			@if map.has-key($container-size, $breakpoint) {
				@media screen and (min-width: $size) {
					&.mk-container:not(.container-fluid) {
						max-width: map.get($container-size, $breakpoint);
					}
				}
			}
		}
	}
}
