.mk-modal {
	--backdrop: var(--scrim);
	border: 0;
	padding: 0;
	width: 100%;
	max-width: none;
	background-color: transparent;
	color: inherit;
}

.mk-modal::backdrop {
	background-color: color-mix(in oklab, var(--backdrop) 30%, transparent);
	animation: fade 0.2s ease-out;
}
.mk-modal[open]::backdrop {
	animation: fade 0.2s ease-out;
}
.mk-modal[open],
.mk-modal.modal-open {
	pointer-events: auto;
	visibility: visible;
	opacity: 1;
}

.mk-modal .modal-container {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
	transition-duration: 0.2s;
}

.mk-modal .modal-container > * {
	max-height: calc(100% - 3rem);
	margin: 0 auto;
}

/* @keyframes */
@keyframes fade {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
